# Python
__pycache__/
*.py[cod]
*.so
.Python

# Environments
.venv/
venv/
env/
.conda/
.mamba/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# CatBoost training logs
catboost_info/
*/catboost_info/

# OS
.DS_Store
Thumbs.db

.vscode
